body {
  background-color: #F2F5C8;
  font-family: 'Koulen', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  background-color: #E8E8A6;
}

.placeDescription {
  font-family: 'Poppins', sans-serif;
  background-color: #E8E8A6;
  text-align: justify;
  font-size: 12px;
  padding: 10px;
  width: 600px;
}

.heading {
  display: flex;
  justify-content: center;
  width: 620px;
  background-color: #E8E8A6;
}

.image {
  border: 4px solid black;
}

.deletePlaceBtn {
  border: none;
  padding: 8px;
  font-size: 15px;
  font-family: 'Koulen', cursive;
  background-color: #219F94;
  cursor: pointer;
}

.prevNextBtn {
  border: none;
  padding: 8px;
  font-size: 15px;
  width: 100px;
  font-family: 'Koulen', cursive;
  background-color: #C1DEAE;
  cursor: pointer;
}

.buttons {
  display: flex;
  width: 620px;
  justify-content: space-around;
  background-color: #E8E8A6;
}

.deleteAll {
  border: none;
  padding: 5px;
  font-size: 20px;
  width: 150px;
  font-family: 'Koulen', cursive;
  background-color: #C84B31;
  cursor: pointer;
  margin: 10px;
}

.showButton {
  border: none;
  background-color: #E8E8A6;
  cursor: pointer;
  font-size: 13px;
  color: #000957;
}